.comment-form .row label{
    display: inline;}
.contact-form .tfuse_captcha_input{
    height:18px;
    padding: 10px;
    border-radius: 0px;
}
.tfuse_captcha_reload{
    background-image:url(../images/reload.png)!important;
    background-repeat: no-repeat!important;
    height: 18px !important;
    margin-top: 15px !important;
    max-width: 16px !important;
    vertical-align: top;
    background-color: transparent;
    margin-left: 10px;
    border:0px;
    width: 20px;
}
.contact-form .omega{
    margin-right: 0px !important;
}
.checkbox {
    background: none;
}
/**/
.tf_cf_select{
    border: 1px solid #D1D1D1;
    border-radius: 0 0 0 0;
    height: 38px;
    margin-top: 2px;
    -webkit-box-shadow: 0px 1px 0px 0px white;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    color: #666;
    border: 1px solid #D1D1D1;
    background: white;
}
.tf_cf_select:focus{
    outline: 0 none;
}
#form_messages h2{
    margin:0;
    padding: 10px;
}
.contact-form  h3{
    margin: 0 !important;
}
.contact-form .field_text{
    margin-right: 20px;
}
.contact-form select {
     padding-top: 8px !important;
     padding-left: 6px !important;
 }
.contact-form select option{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 6px !important;
}
#TB_ajaxContent select {
    padding-top: 8px !important;
    padding-left: 6px !important;
}
#TB_ajaxContent select option{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 6px !important;
}
/*Preview*/
#TB_ajaxContent .contact-form .tfuse_captcha_input{
    height:40px;
    padding: 10px;
    border-radius: 0px;
}
#TB_ajaxContent select{
    height:40px;
}
#TB_ajaxContent .add-comment {
    margin:20px 0 0 0;
    position:relative;
    background:#e9e9e9}

#TB_ajaxContent .add-comment .add-comment-title {
    border:8px solid #e1e1e1;
    border-bottom:none}

#TB_ajaxContent .add-comment h3,
#TB_ajaxContent .contact-form h3 {
    height:55px;
    line-height:55px;
    font-family:'Bitter', serif;
    color:#333;
    font-size:18px;
    text-shadow:0 1px 1px #fff;
    text-transform:uppercase;
    padding:0 20px;
    margin:0}

#TB_ajaxContent .contact-form h3 {
    color:#b2b2b2;
    font-size:24px;
    text-transform:inherit}

#TB_ajaxContent .comment-form {
    background:url(../images/comment-form_bg.png) 0 0 repeat-x #e1e1e1;
    border-top:1px solid #d1d1d1;
    padding:0 8px 8px 8px}

#TB_ajaxContent .comment-form form {
    padding:15px 15px;
    background:url(../images/comment-form_bg.png) 0 0 repeat-x #e9e9e9}

#TB_ajaxContent .comment-form .row {
    padding:3px 0}

#TB_ajaxContent .comment-form .row label {
    color:#000;
    font-size:13px;
    display:inline;}

#TB_ajaxContent .inputtext
{
    height: 40px !important;
}
#TB_ajaxContent .btn-submit
{
    top: 28px !important;
    right: 18px !important;
}
#TB_ajaxContent .contact-form .inputtext,
#TB_ajaxContent .contact-form select,
#TB_ajaxContent .contact-form textarea
{
   background: none repeat scroll 0 0 #FFFFFF !important;
}
#TB_ajaxContent .comment-form .inputtext,
#TB_ajaxContent .comment-form .textarea {
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:18px;
    color:#666;
    border:1px solid #d1d1d1;
    background:#fff;
    width:255px;
    margin:3px 0;
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.15) !important;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.15) !important;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    padding:7px 10px}

#TB_ajaxContent .comment-form .input_full {
    width:552px}

#TB_ajaxContent .comment-form .inputtext {
    padding:10px;
    height:18px}

#TB_ajaxContent .comment-form .space {
    width:20px;
    height:40px;
    float:left}

#TB_ajaxContent .comment-form .inputtext:focus,
#TB_ajaxContent .comment-form .textarea:focus{
    border:1px solid #b7b7b7}

#TB_ajaxContent .comment-form .textarea {
    width:552px;
    height:100px;
    padding:10px;
    overflow:auto}

#TB_ajaxContent .btn-submit,
#TB_ajaxContent .contact-form .btn-submit,
#TB_ajaxContent .comment-form .btn-submit{
    background:url(../images/btn_sprite.png) -555px 0 no-repeat;
    width:144px;
    height:36px;
    line-height:36px;
    overflow:hidden;
    color:#ffcc1d;
    font-family:'Bitter', serif;
    font-size:13px;
    text-shadow:1px 1px 1px #000;
    border:none;
    padding:0 0 2px 0;
    text-align:center}

#TB_ajaxContent .contact-form .btn-submit,
#TB_ajaxContent .comment-form .btn-submit {
    position:absolute;
    right:20px;
    top:8px}