.search_main .form_search #cuselFrame-sopt_range_slider_range_bedrooms_select {
    margin-right:20px
}

.tf-seek-long-select-form-item-header .select_styled {
    width: 380px;
}
.tf-seek-select-form-item-slider .select_styled {
    width: 167px;
}